name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - 10_infra/**
      - .github/workflows/**
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: 1.2.8
  AWS_REGION: ap-northeast-1
  TF_PROJECT: shu-sample-test
  TF_ENVIRONMENT: dev

defaults:
  run:
    shell: bash
    working-directory: "10_infra/"

jobs:
  preview:
    name: "Preview"
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - name: setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: terraform format
        run: |
          terraform fmt -check
      - name: configure aws credential
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}
      - name: terraform init
        run: terraform init -no-color
      - name: terraform validate
        run: |
          terraform validate -no-color
      - name: terraform plan
        run: |
          terraform plan \
           -var 'project=${{ env.TF_PROJECT }}' \
           -var 'environment=${{ env.TF_ENVIRONMENT }}' \
           -var 'username=${{ secrets.MYSQL_USERNAME }}' \
           -var 'password=${{ secrets.MYSQL_PASSWORD }}' \
           -input=false \
           -no-color \
           -detailed-exitcode
